<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-song</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add-song</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--
  <form [formGroup]="songForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Artist</ion-label>
      <ion-input type="text" formControlName="artist"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-input type="date" formControlName="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Photo</ion-label>
      <ion-input type="text" formControlName="photo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!songForm.valid">Submit</ion-button>
  </form>
  -->
</ion-content>
