<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <div class="form-box">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
          <span class="title">Sign in</span>
          <span class="subtitle">Login with your username and password</span>
          <div class="form-container">
            <ion-item>
              <ion-input
                class="input"
                type="username"
                formControlName="username"
                placeholder="Username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                class="input"
                type="password"
                formControlName="password"
                placeholder="Password"></ion-input>
            </ion-item>
          </div>
          <ion-button type="submit" [disabled]="!loginForm.valid"
            >Login</ion-button
          >
        </form>
        <div class="form-section">
          <span class="subtitle"
            >Don't have an account? <a routerLink="/register">Register</a></span
          >
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
