<app-header></app-header>
<ion-content>
  <ion-row>
    <ion-col size-md="8" offset-md="2">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Search by title</ion-label>
              <ion-input [(ngModel)]="searchTitle"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Search by artist</ion-label>
              <ion-input [(ngModel)]="searchArtist"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Search by date</ion-label>
              <ion-input
                placeholder=""
                type="date"
                [(ngModel)]="searchDate"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size-md="2">
            <ion-button expand="full" (click)="search()"
              ><ion-icon slot="start" name="search-sharp"></ion-icon
            ></ion-button>
          </ion-col>
          <ion-col size-xs="12" size-md="2">
            <ion-button expand="full" (click)="cleanFilters()">
              <ion-icon slot="start" name="refresh-sharp"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list>
        <ion-item *ngFor="let song of songs">
          <ion-thumbnail slot="start">
            <img [src]="song.photo" alt="Song Photo" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ song.title }}</h2>
            <p>{{ song.artist }}</p>
            <p>{{ song.date | date }}</p>
          </ion-label>
          <ion-button slot="end" (click)="goToSongDetails(song._id)"
            ><ion-icon name="chevron-forward-sharp"></ion-icon
          ></ion-button>
        </ion-item>
        <ion-col size-xs="12" size-md="4" offset-md="6">
          <ion-button
            position="floating"
            *ngIf="isLoggedIn()"
            (click)="goToAddSong()"
            ><ion-icon shape="round" name="add-sharp"></ion-icon
          ></ion-button>
        </ion-col>
      </ion-list>
      <ion-list *ngIf="this.showSpotify">
        <h3><strong>Maybe you want to check this Spotify songs</strong></h3>
        <ion-item *ngFor="let song of spotifySongs">
          <ion-thumbnail slot="start">
            <img [src]="song.photo" alt="Song Photo" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ song.title }}</h2>
            <p>{{ song.artist }}</p>
            <p>{{ song.date | date }}</p>
          </ion-label>
          <ion-button (click)="addSong(song)" slot="end">Add</ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
