<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button (click)="navigateHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isLoggedIn()">
      <ion-button (click)="deleteSong()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>song-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">song-details</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="song">
    <ion-card>
      <img [src]="song.photo" />
      <ion-card-header>
        <ion-card-subtitle>{{ song.artist }}</ion-card-subtitle>
        <ion-card-title>{{ song.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>{{ song.date | date }}</p>
        <p>{{ song.duration }} seconds</p>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-item *ngFor="let comment of comments">
        <ion-label>
          <h2>{{ comment.author }}</h2>
          <p>{{ comment.comment }}</p>
          <p>{{ comment.rating }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
